@model IEnumerable<ApplicationUser>
@inject UserManager<ApplicationUser> userManager
@{
    ViewBag.Title = "All Users";
}
<div class="container-padding">
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="background-color:maroon;width:auto">
        Add new user
    </a>
</div>
<div class="container-padding">
    <!-- Start Row -->
    <div class="row">
        <!-- Start Panel -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    All Users
                </div>
                <div class="panel-body table-responsive">
                    <table id="example0" class="table-bordered display">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th> UserName</th>
                                <th> Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {

                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <form method="post" asp-action="DeleteUser" asp-route-id="@item.Id">
                                        <a asp-action="EditUser" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a> |
                                        <button type="submit" class="" 
                                                onclick="return confirm('Are you sure you want to delete user : @item.UserName')">
                                            <i class="fa fa-cut"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (!Model.Any())
                    {
                        <div class="card">
                            <div class="card-header">
                                No users created yet
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Use the button below to create a user
                                </h5>
                                <a class="btn btn-primary" style="width:auto"
                                   asp-controller="Account" asp-action="Register">
                                    Add new user
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
    <!-- End Row -->
</div>
@section Scripts{
    <!-- ================================================
    Data Tables
    ================================================ -->
    <script src="~/js/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example0').DataTable();
        });</script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": 2 }
                ],
                "order": [[2, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(2, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                }
                else {
                    table.order([2, 'asc']).draw();
                }
            });
        });

        $('#DeleteModal').on('show.bs.modal', function (e) {

            //get data-id attribute of the clicked element
            var roomID = $(e.relatedTarget).data('room-id');
            var roomNumber = $(e.relatedTarget).data('room-number');
            var deleteMessage = "Are you sure you want to delete room with room no: " + roomNumber + "?";
            $('#DeleteConfirmation').html(deleteMessage);
            $(e.currentTarget).find('input[name="id"]').val(roomID);
        });</script>
}
